<!DOCTYPE html>
<html>
  <head>
    <title><%= yield (:title) %> | The New Golf Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="headSec">
      <h1>Wed Eve Golf Fun</h1>
      
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      

    </ul>
    </header>
    
    <div class="container"></div>
    
    <%= yield %>
    
    <footer class="foot">
      <h1>Look at the page footer</h1>
    </footer>
    
  </body>
</html>
